.allPagePhotos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    
  }
  .allPagePhotos .photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
    gap: 30px;
  
  }
  .textsForPhotos {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 30%;
    filter: drop-shadow(8px 8px 10px rgb(68, 84, 100));
  
  }
  .allPagePhotos img{
    width: 300px;
    height: 300px;
    padding-top: 10px;
  }